<script language="JavaScript">
function ShowUploadBox()
{
	var selectbox=document.getElementById('attachment_select');
	var uploadbox=document.getElementById('attachment_upload');

	if(selectbox.value=='-2')
		uploadbox.style.display='table-row';
	else
		uploadbox.style.display='none';
}
</script>
<h3>Forum</h3>
<div style="color: Red;"><%= flash[:error] %></div>
<table style="width: 60%;">
<tr><th>Title</th>
<th style="width: 8em;">User</th>
<th style="width: 5em;">Manage</th>
</tr>
<% @postthreads.each do |postthread| %>
<tr class="hoverparent">
<td><a href="/postthread/view?id=<%= postthread.id %>"><%= postthread.title %></a></td>
<% if postthread.user.nickname.blank? %>
<td><a href="/user?user_id=<%= postthread.user.id %>"><%= postthread.user.name %></a></td>
<% else %>
<td><a href="/user?user_id=<%= postthread.user.id %>"><%= postthread.user.nickname %></a></td>
<% end %>
<td>
<% if @user!=nil and postthread.user.id==@user.id %>
<div class="hiddenchild">
<div class="horizonal-div">
<a href="/postthread/edit?id=<%= postthread.id %>">Edit</a>
</div>
<div class="horizonal-div">
<!--<a href="delete?id=<%= postthread.id %>">Delete</a>-->
<%= form_tag( {:action => 'delete'}, {:id=>"dt_"+postthread.id.to_s}) do %>
	<%= hidden_field_tag 'postthread_id', postthread.id %>
<% end %>
<%= link_to_function "Delete", "popupConfirmDialogwithPost('confirm', confirmDeleteThread, 'dt_"+postthread.id.to_s+"');" %>
</div>
</div>
<% end %> 
</td>
</tr>
<% end %>
</table>
<br />
<% if @user != nil %>
<div class="dblock">
User:
<% if @user.nickname.blank? %>
<%= @user.name %>
<% else %>
<%= @user.nickname %>
<% end %>
</div>
<%= form_tag({:action => 'new_thread_save'}, {:multipart => true}) do %>
<%= hidden_field_tag "user_id", @user.id %>
<div class="dblock">Title:<%= text_field_tag "title", flash[:title],:class=>"post_title" %></div>
<div class="dblock">
Content:<br />
<%= text_area_tag "content", flash[:content], :class=>"post_content" %></div>
	<div>Attachment file:<select name="attachment_select" id="attachment_select" onchange="ShowUploadBox();">
		<option value="-1" selected="selected" >None</option>
		<option value="-2">Upload new..</option>
		<%@user.uptest.each do |file| %>
			<option value="<%= file.id %>">
				<%= file.filename %>
			</option>
		<% end %></select></div>
	<div id="attachment_upload">Upload new:<%= file_field :upload, :datafile%></div>
	<script language="JavaScript">
		ShowUploadBox();
	</script>
	<br />
<%= submit_tag "Post" %>
<% end %>

<!-- Process popup window for confirm dialog -->
<%= render partial: "confirm_popup" %>

<% else %>
Only users logged in could post new Threads!
<% end %>

<div><a href="/">Back to Index</a></div>
