<h3>Change Password</h3>

<div style="color: Red;"><%= flash[:error] %></div>
<%= form_tag :action => 'change_password' do %>
	<%= hidden_field_tag 'user_id', @user.id  %>
	<table>
	<tr><td>Login name:</td><td><%= @user.name %></td></tr>
	<tr><td>Enter old Password:</td><td><%= password_field_tag('oldpassword') %></td></tr>
	<tr><td>Enter new Password:</td><td><%= password_field_tag('newpassword1') %></td></tr>
	<tr><td>Enter new Password again:</td><td><%= password_field_tag('newpassword') %></td></tr>
	</table>
	<%= submit_tag 'OK' %>
<% end %>

<a href="/">Main page</a>