<h3>Edit user Infomation</h3>
<%= flash[:error] %>
	<%= form_tag :action => 'edit_info_save' do %>
	<%= hidden_field_tag("user_id", @user.id) %>
	<table>
	<tr><td>Login name:</td>
	<td><%= @user.name %></td></tr>
	<tr><td>Nickname:</td><td><%= text_field_tag("nickname", @user.nickname) %></td></tr>
	<tr><td>E-mail address:</td><td><%= text_field_tag("email",@user.email) %></td></tr>
	</table>
	<%= submit_tag "Save" %>
	<% end %>
<br />
<% if request.referer != nil %>
	<a href="<%= request.referer %>">Back</a>
<% else %>
	<a href="#" onclick="history.go(-1)">Back</a>
<% end %>