<% require 'base64' %>
<% require 'digest' %>
<!DOCTYPE html>
<html>
<head>
  <title><%= @appname %>: <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @nonav != true %>
	<%= render 'layouts/navbar' %>	
	<div class="container main container_footer_padding">
	<%= yield %>
	</div>
	<%= render 'layouts/footer' %>	
<% else %>
<% if @adminmode == true %>
	<%= render 'layouts/navbar_admin' %>	
	<div class="container main">
	<%= yield %>
	</div>
<% else %>
<div class="container main container_footer_padding">
<%= yield %>
</div>
<%= render 'layouts/footer' %>	
<% end %>
<% end %>
</body>
</html>
